.card-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 365px;
    height: fit-content;
}

.card-container .icon{
    width: 64px;
    height: 64px;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-body .title{
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    color: var(--gunmetal);
}


.card-body .description{
    font-size: 16px;
    font-weight: 100;
    line-height: 150%;
    color: var(--darkeletricblue);
}