:root {
  --blue: #345ff6;
  --gunmetal: #253347;
  --darkeletricblue: #5e6e85;
  --borders: #d8e2e7;
  --blue: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
